<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716818199476-pov9uc26kh7v3040mmis79tj0bnagba4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716818199476-pov9uc26kh7v3040mmis79tj0bnagba4</string>
	<key>API_KEY</key>
	<string>AIzaSyCfqwXNRPuUFfogeSFDEiwW-4QTvFJNkDw</string>
	<key>GCM_SENDER_ID</key>
	<string>716818199476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nawaf.Billing-Tracker</string>
	<key>PROJECT_ID</key>
	<string>billing-tracker-bfee4</string>
	<key>STORAGE_BUCKET</key>
	<string>billing-tracker-bfee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716818199476:ios:b5e04d0beff57708cbb8e1</string>
	<key>DATABASE_URL</key>
	<string>https://billing-tracker-bfee4.firebaseio.com</string>
</dict>
</plist>